<h1>Task List</h1>

<div data-behavior="task-list" class="task-list">
    <% @tasks.each do |task| %>
      <div data-behavior="task" data-id="<%= task.id %>" class="row task-item">
        <div class="col-1">
          <% if task.completed? %>
            <span data-behavior="task-toggle"><%= fa_icon "check-square-o" %></span>
          <% else %>
            <span data-behavior="task-toggle"><%= fa_icon "square-o" %></span>
          <% end %>
        </div>
        <div data-behavior="task-description" class="col-9">
          <% if task.completed? %>
            <p><del><%= task.description %></del></p>
          <% else %>
            <p><%= task.description %></p>
          <% end %>
          <%= text_field_tag :description_field, task.description, class: "form-control", data: { behavior: 'edit-task-field' } %>
        </div>
        <div class="col-2"><%= link_to 'DELETE', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger text-center" %></div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12">
        <%= link_to 'New Task', new_task_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
</div>


